* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  color: #DA5741;
  font-size: 2.5rem;
  color: inherit;
}

h2{
  font-weight: 400;
  font-size: 2rem;
  color: #DA5741;
}

a {
  color: #DA5741;
}

a:hover {
  color: #DA5741;
  opacity: 50%;
  text-decoration: none;
}

/* nav */

nav {
  height: 50px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px #DA5741 solid;
  position: fixed;
  background-color: white;
}

.nav_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: auto;
  height: auto;
}

.link_container {
  height: 100%;
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
  padding-left: 3rem;
}

/* header */

header {
  width: 100%;
  height: auto;
}

header p {
  padding: 130px 230px 60px 230px;
  text-align: center;
  color: #DA5741;
  font-size: 2rem;
  font-weight: 400;
}

/* product list */

.product_list {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

.item {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.item figure img{
  width: 100%;
  height: auto;
}

.item p {
  width: 80%;
}

.order_btn {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #DA5741;
  color: #DA5741;
  transition: background-color 1s;
  transition: color 1s;
}

.order_btn:hover {
  background-color: #DA5741;
  color: white;
}

/* footer */

footer {
  height: 50px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: #28100C;
  color: white;
}

.socialmedia {
  display: flex;
  align-items: center;
}

.socialmedia img {
  padding-left: 2rem;
}

/* slide-in page */

#slide-in-page {
  visibility: hidden;
  position: fixed;
  top:0;
  right: -80%;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  transition: top 2s;
}

#detail_page {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5rem 2rem;
  background-color: white;
}

#detail_page figure {
  flex: 1;
  margin: 1rem;
}

#detail_page .detail_container {
  flex: 2;
  margin: 1rem 2rem auto 3rem;
}

#detail_page .description {
  width: 70%;
  height: auto;
  margin-bottom: 3rem;
}
.description h1 {
  color: #DA5741;
}
.description p {
  font-size: 1.5rem;
  font-weight: 400;
}

.choices {
  height: 120px;
  margin: 1.5rem 0;
}

.order-options {
  width: 90px;
  height: 90px;
  border:1px #DA5741 solid;
  border-radius: 5px;
}

.order-options-clicked {
  width: 90px;
  height: 90px;
  background-color: #DA5741;
  color: white;
  border-radius: 5px;
}

.order-options:hover {
  background-color: #DA5741;
  color: white;
}

#slide-in-page img {
  width: 500px;
  height: 500px;
}

/* blackout */

#blackout {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}
